python-telegram-bot>=22.5
supabase
tmdbv3api
yt-dlp
thefuzz
python-Levenshtein
uvicorn
starlette
pyrogram 
tgcrypto
python-dotenv
flask
hachoir
aiohttp[speedups]>=3.11
git+https://github.com/python-telegram-bot/ptbcontrib.git
python-multipart
httpx[socks]