python-telegram-bot>=22.5
supabase
tmdbv3api
yt-dlp
thefuzz
python-Levenshtein
uvicorn
starlette
pyrogram 
tgcrypto
python-dotenv
flask
hachoir
aiohttp[speedups]>=3.11
ptbcontrib[aiohttp_request_socks] @ git+https://github.com/python-telegram-bot/ptbcontrib.git@pull/141/head
python-multipart
aiohttp_socks>=0.10.2
httpx[socks]
